name: GitHub Actions Tagging
on:
  push:
    branches:
      - 'main'

jobs: 
  Tag-training:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Create tag
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require("fs");
            console.log(context)
            const tag = fs.readFileSync("training.version.txt");
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/' + tag,
              sha: context.sha
            })